/*фейнман заголовок*/
.feynman__title {
  position: relative;
  align-self: flex-start;
  margin: 0 auto;
  padding: 0;
  width: 648px;
  z-index: 1;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
